body {
	font-family: serif;
}

a {
	color: #444;
    font-weight: bold;
}

a:hover {
	color: #f00;
	text-decoration: underline;
}

a:visited {
	color: #888;
}

.item {
	padding: 8px;
	border: 2px solid #eee;
	width: 240px;
	float: left;
	position: relative;
	margin: 8px;
	height: 360px;
}

.item img {
	max-height: 340px;
}

.label {
	color: #000;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 74px;
	background: #fff;
	width: 240px;
	padding: 8px;
}

input[type=text] {
    width: 300px;
}

form {
    line-height: 2;
}

.vote {
    cursor: pointer;
    color: #F44;
}

.amount {
    font-weight: bold;
}

.action {
    color: #44F;
}

.added {
    color: #4F4;
}